body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(to right, #8481dc, #a4dddc);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background: rgba(255, 255, 255, 0.5);
  opacity: 50px;
  padding: 30px 40px;
  border-radius: 20px;
  text-align: center;
  color: rgb(25, 24, 24);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  max-width: 500px;
}

h1 {
  margin-bottom: 20px;
  font-size: 1.8rem;
}

.quote-box {
  font-size: 1.3rem;
  margin: 20px 0;
  transition: all 0.3s ease;
  min-height: 100px;
}

#author {
  display: block;
  margin-top: 15px;
  font-size: 1rem;
  font-style: italic;
  color: rgb(65, 65, 62);
}

/* From Uiverse.io by cssbuttons-io */ 
button {
  align-items: center;
  background-image: linear-gradient(144deg, #af40ff, #5b42f3 50%, #00ddeb);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #ffffff;
  display: flex;
  font-size: 18px;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 140px;
  padding: 3px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
  transition: all 0.3s;
}


button  {
  background-color: rgb(5, 6, 45);
  padding: 16px 24px;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  transition: 300ms;
}


button:active {
  transform: scale(0.9);
}
